.container, panel {
  padding: 0.01em 16px;
}

.col.m8, .twothird {
  width: 66.66666%;
}

.center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.text-indent {
  text-indent: 25px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

.box-center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 30px;
  text-align: center;
}

.rotate-3d-first {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: rotate3d(1, -1, 0, 30deg); /* Standard syntax */
}

.rotate-3d-first-parent {
  perspective: 300px;
}

.onmouse-bigger {
  width: 100px;
  height: 100px;
  background: Orange;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}

.onmouse-bigger:hover {
  width: 300px;
  height: 300px;
}

.css-animation-first {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: colors;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colors {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
